<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rajdhani&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="/videos/home">Home</a>
        <a href="/videos/upload">Upload</a>
        <!--
            <a href="/videos/edit">Edit</a>
        -->
        <a href="/videos/browse">Browse</a>
      
       
    </div>
<div>
    <form action="/videos/browse<%=video.id%>" method="POST">
        <input type="text" placeholder="category" value ="<%= video.categories%>" name="categories">

       <input type="text" placeholder="link" vlaue="<%= video.links %>" name="links">

       <input type="text" placeholder="title" value="<%= video.title %>" name="title">

        <button type="submit">Submit</button>
      </form>
</div>
    

</body>
</html>