<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="public/css/style.css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div></div>
    <div class="navbar">
        <a href="/videos/home">Home</a>
        <a href="/videos/upload">Upload</a>
       <a href="/videos/edit">Edit</a>
        <a href="/videos/browse">Browse</a>
        <a href="/login">Login</a>
    
    <div class="body">
        <h1>Rabbit Hole</h1>
        <button><a href="/videos/upload">Upload</button>
        <button><a href="/videos/browse">Browse</button>
    </div>
`   
    <div class="footer">@copyright belongs to youtube</div>
    
</body>
</html>