<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link ref="stylesheet" href="public/css/style.css">
</head>
<body>
    <% if (user) { %>
        <a href="/logout">Log out</a>
    <% } else { %>    
    <button><a href="/auth/google">Login with Google</button>
    <!-- <button>Create Account</button> -->
    <% } %>
    
</body>
</html>