<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rajdhani&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<style>
  body {
    background-color: #292D3E;
    margin: 0;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}

.navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(228,23,180,1) 33%, rgba(4,194,201,1) 70%, rgba(2,67,69,1) 100%);
    overflow: hidden;
    color: white;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}

.navbar a {
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.navbar a.hover {
    background-color: transparent;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 200px;
}

.body {
    text-align: center;
}

button {
    background-color: violet;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    
}

button:hover {
    transform: scale(1.1);
  }

.footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(#292D3E);  
}

.title {
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 100px;
}

label {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}
</style>
<body>
    <div class="navbar">
        <a href="/videos/home">Home</a>
        <a href="/videos/upload">Upload</a>
        <a href="/videos/browse">Browse</a>
        <a href="/login">Login</a>
    </div>

    <h2 class="title">Upload</h2>
    
    <form action="/upload" method="POST">
      <input type="text" placeholder="category" name="categories">
      <input type="text" placeholder="link" name="links">
      <input type="text" placeholder="title" name="title">
      <button type="submit">Submit</button>
    </form>
      
</body>
</html>