<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Screen</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rajdhani&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a class="active" href="/home">Home</a>
        <a href="/upload">Upload</a>
        <a href="/browse">Browse</a>
        <a href="/login">login</a>
    </div>
    <h2 class="title">Title</h2>
</body>
</html>