<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    This is the delete
    Will pull up all of the things uploaded under this user:
   Same format as edit but each post will have a delete button and once hit it will delete the post.
    
</body>
</html>
